body{
    margin: 0;
    padding: 0;
}
.container{
    width: 280px;
    margin: 0 auto;
}
.col1{
    width: 280px;
    float: left;
    margin: 10px;
    border: 5px solid #000;
    height: 500px;
}
.col2{
    width: 280px;
    float: left;
    margin: 10px;
    border: 5px solid #000;
    height: 500px;
}
.col3{
    width: 280px;
    float: left;
    margin: 10px;
    border: 5px solid #000;
    height: 500px;
}
.col4{
    width: 280px;
    float: left;
    margin: 10px;
    border: 5px solid #000;
    height: 500px;
}